@import url("css/theme.css");

/** ToC */
.contents {
    background-color: #e3e3e3;
    border: 1px solid #c9c9c9;
    padding: 20px;
    margin-bottom: 20px;
}
.contents > ul {
    margin: 0;
}

/** Reduce whitespace */
p, table, div[class^='highlight'], .rst-content img {
    margin-bottom: 16px;
}

/** Make headers a little bit more visible */
h2 {
    text-align: center;
}
h3 {
    background-color: #e9e9e9;
    padding: 8px;
}

/** Add style for todo admotion (non-default) */
div.admonition-todo {
    padding: 24px;
    line-height: 24px;
    margin-bottom: 24px;
    border-left: solid 3px transparent;
    background: #49b;
    color: #fff;
    border-color: #38a;
}
div.admonition-todo > p.first,
div.admonition-todo > p.last {
    margin-bottom: 0;
}

/** More vibrant coloring */
.rst-content tt {
    color: #e74c3c;
}

/** Generic layout styles */
.right {
    float: right;
    margin-left: 20px;
}
.left {
    float: left;
    margin-right: 20px;
}
.clear {
    overflow: auto;
    width: 100%
}

/** Automatic clear: both to avoid having to use .. container: clear */
.section {
    overflow: auto;
    width: 100%;
}

/** Improve table styling */
table.docutils th {
    background-color: #dcb;
}

table ul.last {
    margin-bottom: 0 !important;
}

.wy-nav-content {
    padding:1.618em 1em;
    margin:auto;
    max-width:1600px;
}